@model LabNet2021.MVC.Models.CategoriesView
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "Categories";
}
@if (@ViewBag.Id != null)
{
    <h1>Categories Modify</h1>
    using (Html.BeginForm("Update", "Categories", FormMethod.Post))
    {
        <br />
        <br />
        <legend>CATEGORY ID @ViewBag.Id</legend>
        <br />
        @Html.LabelFor(c => c.CategoryName)
        @Html.TextBoxFor(c => c.CategoryName, null, new { @placeholder = "Category Name", @class = "form-control" })
        @Html.ValidationMessageFor(c => c.CategoryName, null, new { @class = "text-danger" })
        <br />
        @Html.LabelFor(c => c.Description)
        @Html.TextBoxFor(c => c.Description, null, new { @placeholder = "Description", @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Description, null, new { @class = "text-danger" })
        <br />
        <input type="submit" class="btn btn-primary" value="Save" />
    }
}
else
{
    <h1>Categories Add</h1>
    using (Html.BeginForm("Insert", "Categories", FormMethod.Post))
    {
        <br />
        <br />
        <legend>NEW CATEGORY</legend>
        <br />
        @Html.LabelFor(c => c.CategoryName)
        @Html.TextBoxFor(c => c.CategoryName, null, new { @placeholder = "Category Name", @class = "form-control" })
        @Html.ValidationMessageFor(c => c.CategoryName, null, new { @class = "text-danger" })
        <br />
        @Html.LabelFor(c => c.Description)
        @Html.TextBoxFor(c => c.Description, null, new { @placeholder = "Description", @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Description, null, new { @class = "text-danger" })
        <br />
        <input type="submit" class="btn btn-sm btn-primary" value="Save" />
    }
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/bootstrap.js"></script>