@model List<LabNet2021.MVC.Models.ShippersView>
@{
    ViewBag.Title = "Shippers";
}
<h1>Shippers</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Company name</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shipper in Model)
        {
            <tr>
                <td scope="row">@shipper.Id</td>
                <td scope="row">@shipper.CompanyName</td>
                <td scope="row">@shipper.Phone</td>
                <td scope="row">@Html.ActionLink("Update", "Update", new { id = shipper.Id, companyName = shipper.CompanyName, phone = shipper.Phone }) || @Html.ActionLink("Delete", "Delete", new { id = shipper.Id }, new { onclick = "return confirm ('Are you sure you want to delete?')" })</td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Insert Shipper", "Insert")
</div>