@model LabNet2021.MVC.Models.ShippersView
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "Shippers";
}
@if (@ViewBag.Id != null)
{
    <h1>Shippers Modify</h1>
    using (Html.BeginForm("Update", "Shippers", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br />
        <br />
        <legend>SHIPPER ID @ViewBag.Id</legend>
        <br />
        @Html.LabelFor(s => s.CompanyName)
        @Html.TextBoxFor(s => s.CompanyName, null, new { @placeholder = "Company Name", @class = "form-control" })
        @Html.ValidationMessageFor(s => s.CompanyName, null, new { @class = "text-danger" })
        <br />

        @Html.LabelFor(s => s.Phone)
        @Html.TextBoxFor(s => s.Phone, null, new { @placeholder = "(000) 0000-0000", @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Phone, null, new { @class = "text-danger" })
        <br />
        <input type="submit" class="btn btn-sm btn-primary " value="Save" />
    }
}
else
{
    <h1>Shippers Add</h1>
    using (Html.BeginForm("Insert", "Shippers", FormMethod.Post))
    {
        <br />
        <br />
        <legend>NEW SHIPPER</legend>
        <br />
        @Html.LabelFor(s => s.CompanyName)
        @Html.TextBoxFor(s => s.CompanyName, null, new { @placeholder = "Company Name", @class = "form-control" })
        @Html.ValidationMessageFor(s => s.CompanyName, null, new { @class = "text-danger" })
        <br />
        @Html.LabelFor(s => s.Phone)
        @Html.TextBoxFor(s => s.Phone, null, new { @placeholder = "(000) 0000-0000", @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Phone, null, new { @class = "text-danger" })
        <br />
        <input type="submit" class="btn btn-sm btn-primary"  value="Save" />
    }
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/bootstrap.js"></script>


